.square{
	width: 160px;
	height: 150px;
	background: gray;
	color: white;
	text-align: center;
	font-weight: bold;
	margin-top: 0.2rem;
	float: left;
	margin-left: 1rem;
}
#a{
	color: orange;
}
.list-group-item{
	 border-bottom: 1px solid gray;
}

